#myButton {
  background-color: #909090;

  margin: 5px;

  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 15px;
  
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;

  height: fit-content;

  filter: drop-shadow(5px 5px 4px rgba(0, 0,0, 0.5));
  
  transition: all 0.5s;
}

#myButton:hover {
  background-color: #707070;
  
  transform: scale(1.01);
  border-color: white;
  
  filter: drop-shadow(6px 6px 4px rgba(0, 0,0, 0.5));
}

.GameText {
  font-size: 50px;
  text-decoration: none;
  color: white;
  background: #212121;

  border-style: solid;
  border-color: #353535;
  border-width: 2px;

  transition: color 0.5s;
  padding: 10px;
}

.Game-Version {
  margin: 25px;
  text-align: center;
}

.GameText:hover {
  color: #787878;
}

.MakePosAbs {
  position: absolute;
}

.MakePosFixed {
  position: fixed;
  z-index: 100;
}

.CenterButton {
  left: 50%;
  transform: translateX(-50%);
}
