/*#myButton {
  background-color: #808080;
  border: 3px solid #121212;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
}*/

#myButton {
  background-color: #808080; 
}
