#myButton {
  background-color: #909090;

  margin: 5px;

  border-style: solid;
  border-color: #353535;
  border-width: 2px;

  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;

  height: fit-content;
  box-shadow: 0px 2px 5px #454545;
  
  transition: background-color 0.25s, box-shadow 0.25s;
}

#myButton:hover {
  background-color: #707070;
  
  box-shadow: 0px 3px 5px #545454;
}

.GameText {
  font-size: 50px;
  text-decoration: none;
  color: white;
  background: #212121;

  border-style: solid;
  border-color: #353535;
  border-width: 2px;

  transition: color 0.5s;
  padding: 10px;
}

.Game-Version {
  margin: 25px;
  text-align: center;
}

.GameText:hover {
  color: #787878;
}

.MakePosAbs {
  position: absolute;
}
