body {
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.text_area {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
  height:60%;
  border: 3px solid #121212;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: center;
}

.text_area h1{
  color: #E93030;
}

.main_game_page_body {
  width: 90.47619%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow:scroll;
  overflow-x: hidden;
}

.game_icons {
  display: grid;
}

.play_game_page_body {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.coming_soon_body {
  width: 90.47619%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.sidebar {
  width: 9.52381%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  background-color: #434343;
}

.name_welcome {
    top: 4%;
    left: 3.5%;
    position: absolute;
    line-height: 8px;
}

.branding {
    top: 0.5%;
    right: 3.5%;
    position: absolute;
    line-height: 10px;
}

.name_welcome h1 {
    color: #FFFFAD;
    font-size: 55px;
}

.game_holder {
  top: 20.5%;
  width: 15%;
  left: 5.5%;
  padding-right: 3.5%;
  float: left;
  position: relative;
  text-align: center;
}

.game_holder img {
  top: 10%;
  width: 85%;
  height: 70%;
  position: relative;
}

.game_holder p {
  font-size: 23px;
  bottom: -5%;
  position: relative;
}

.name_welcome p {
  font-size: 25px;
}

.profile_pic_a {
  top: 4.56%;
  left: 13.08%;
  width: 71.95%;
  aspect-ration: 1 / 1;
  position: absolute;
}

.selected_bar {
  background-color: #007CFF;
  top: 33%;
  height: 1%;
  width: 70%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.selected_bar_games {
  background-color: #007CFF;
  top: 33%;
  height: 1%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.page_select {
  top: 33.5%;
  width: 71.95%;
  position: relative;
}

.profile_pic_img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
  position: relative;
}

.profile_pic_a {
  top: 4.56%;
  left: 13.08%;
  width: 71.95%;
  aspect-ration: 1 / 1;
  position: absolute;
}

.profile_pic_img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.banner_div {
    top: 0;
    right: 0;
    height: 49.32%;
    width: 90.47619%;
    position: absolute;  
}

.banner_img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.back_arrow {
    height: 45px;
    width: 45px;
    left: 10%;
    top: 3.5%;
    position: absolute;
}

.back_arrow_img {
    height: 100%;
    width: 100%;
}

.credits {
    left: 1%;
    bottom: 0;
    position: absolute;
    font-size: 13px;
}

.bottom_div {
    height: 50.68%;
    width: 90.47619%;
    right: 0;
    bottom: 0;
    position: absolute;
}

.game_cover {
    left: 2.56%;
    top: 9.67%;
    width: 17.25%;
    position: absolute;
}

.game_play_div {
    width: 26.85%
    height: 31.51%;
    top: 15.07%;
    left: 22.17%;
    position: absolute;
}

.game_play_div b{
    font-size: 20px;
}

.description_div {
    top: 12.5%;
    right: 3%;
    width: 37.51%;
    height: 85.4%;
    position: absolute;
}

.description_div b{
    font-size: 30.5px;
}

.description_div_text_back {
  border-radius: 25px;
  background-color: #595959;
  bottom: 10%;
  width: 85%;
  height: 70%;
  position: absolute;
}

.description_div_text {
  width: 80%;
  height: 80%;
  margin: auto;
  font-size: 15.5px;
}
