.Settings {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.SettingsIco {
  width: 5%;
  aspect-ratio: 1 / 1;
}

.SettingsWindow {
  height: fit-content;
  width: fit-content;
  background-color: rgb(128, 128, 128);
}

.SettingsHeader {
  font-size: 20px;
  text-align: center;
}

.Setting {

}

.SettingName {
  font-size: 15px; 
}
