.Settings {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10;
  pointer-events: none;
}

@keyframes OpenCloseSettings {
  from {
    transform: translateY(-200%);
  } to {
    transform: translateY(0%);
  }
}

.SettingsIco {
  width: 5%;
  aspect-ratio: 1 / 1;
  pointer-events: all;
}

.SettingsWindow {
  height: fit-content;
  width: fit-content;
  background-color: rgb(128, 128, 128);
  border-style: solid;
  border-bottom-style: none;
  border-radius: 5px;
  
  z-index: -1;
}

.SettingsHeader {
  font-size: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.Setting {
  border-bottom-style: solid;
    padding-left: 5px;
  padding-right: 5px;
}

.SettingName {
  font-size: 25px; 
}

.SettingsOpen {
  animation-name: OpenCloseSettings;
  animation-duration: 1s;
  
  transform: translateY(0%);
}

.SettingsClose {
  animation-name: OpenCloseSettings;
  animation-direction: reverse;
  animation-duration: 1s;
  
  transform: translateY(-200%);
}
