body {
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.text_area {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
  height:60%;
  border: 3px solid #121212;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: center;
}

.text_area h1{
  color: #E93030;
}

.main_game_page_body {
  overflow: scroll;
  overflow-x: hidden;
}

.body_page {
  width: 90.0%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.sidebar {
  width:10%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  position: absolute;
  background-color: #434343;
}

.name_welcome p {
  font-size: 2vw;
  position: absolute;
  top: calc(5px + 4vw);
  padding: 0;
  margin: 0;
  left: 1%;
}

.branding {
  filter: drop-shadow(5px 5px 4px black);
  top: 5px;
  right: 5px;
  position: fixed;
}

.branding h1 {
  font-size: 3vw;
  right: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
}

.branding h2 {
  font-size: 2vw;
  right: 0px;
  top: 3vw;
  padding: 0;
  margin: 0;
}

.name_welcome h1 {
    color: #FFFFAD;
    font-size: 4vw;
    position: absolute;
    top: 5px;
    padding: 0;
    margin: 0;
    left: 1%;
}

.game_icons {
  display: grid;
  grid-gap: 1% 0%;
  width: 100%;
  justify-content: space-evenly;
  grid-template-columns: repeat(8, 12%);
  transform: translateY(calc(5px + 6vw));
}

.game_holder {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  height: fit-content;
  padding-bottom: 5px;
  transform: scale(1);
  transition: all 0.5s;
}

.game_holder:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.game_holder img {
  top: 10px;
  width: 100%;
  position: relative;
  filter: drop-shadow(5px 5px 4px rgba(0, 0,0, 0.5));
}

.game_holder p {
  font-size: 1vw;
  top: 1vw;
  position: relative;
  text-align: center;
  filter: drop-shadow(5px 5px 4px rgba(0, 0,0, 0.5));
}

.profile_pic_a {
  top: 4.56%;
  left: 13.08%;
  width: 71.95%;
  aspect-ration: 1 / 1;
  position: absolute;
}

.page_select {
  top: 33.5%;
  width: 71.95%;
  position: relative;
  transition: all 0.5s;
  border-radius: 5px;
}

.page_selected {
  transform: translateX(15%) scale(1.09);
}

.page_select:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.profile_pic_img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
  position: relative;
}

.profile_pic_a {
  top: 4.56%;
  left: 13.08%;
  width: 71.95%;
  aspect-ration: 1 / 1;
  position: absolute;
}

.profile_pic_img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.banner_div {
    top: 0;
    right: 0;
    height: 49.32%;
    width: 100%;
    position: absolute;  
}

.banner_img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.back_arrow {
  height: 45px;
  width: 45px;
  bottom: 0;
  z-index: 10;
  position: absolute;
  transition: all 0.5s;
  border-radius: 5px; 
}

.back_arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.back_arrow_img {
    height: 100%;
    width: 100%;
}

.credits {
    right: 3px;
    bottom: -10px;
    position: fixed;
    font-size: 13px;
    border-radius: 5px;
}

.bottom_div {
    height: 50.68%;
    width: 90.47619%;
    right: 0;
    bottom: 0;
    position: absolute;
}

.game_cover {
    left: -5%;
    top: 9.67%;
    width: 17.25%;
    position: absolute;
}

.game_play_div {
    width: 26.85%
    height: 31.51%;
    top: 15.07%;
    left: 22.17%;
    position: absolute;
}

.game_play_div b{
    font-size: 20px;
}

.description_div {
    top: 12.5%;
    right: 3%;
    width: 37.51%;
    height: 85.4%;
    position: absolute;
}

.description_div b{
    font-size: 30.5px;
}

.description_div_text_back {
  border-radius: 25px;
  background-color: #595959;
  bottom: 10%;
  width: 85%;
  height: 70%;
  position: absolute;
}

.description_div_text {
  width: 80%;
  height: 80%;
  margin: auto;
  font-size: 15.5px;
}

#game_name {
  font-size: 2.15vw;
}

#play_button {
  transition: all 0.5s;
}

#play_button:hover {
  filter: hue-rotate(25deg);
}
