body {
  background-color: white;
}

#settings {
  padding: 10px;
  background-color: gray;
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 10;
}

#game_data {
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 10;
  bottom: 10px;

    background-color: black;
}

.data {
  padding: 10px;

  background-color: gray;

  margin: 5px;

  font-family: arial;

  text-align: center;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
}

#object {
  position: relative;
}

#game_canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
